# Скопируйте в .env и заполните
BOT_TOKEN=PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE

# Если не меняете docker-compose.yml, можно оставить как есть
DATABASE_URL=postgresql+asyncpg://bunker:bunker@postgres:5432/bunker
LOG_LEVEL=INFO
POSTGRES_USER=bunker
POSTGRES_PASSWORD=bunker
POSTGRES_DB=bunker
